@charset "UTF-8";
	

/* 	body, input, button, select, textarea, h1, h2, h3, h4, h5, h6, img, dl, */
/* 		dt, dd, ul, ol, li, legend, hr, em, address, div, p, strong, fieldset, */
/* 		form { */
/* 		padding: 0; */
/* 		margin: 0; */
/* 		border: 0; */
/* 	} */
	
	body, input, textarea, select, button, table {
		font-size: 12px;
		text-align: left;
	}
	
	html, body {
		width: 100%;
		height: 100%;
		position: relative;
		margin: auto;
		background-color: #f5f5f5;
	}
	
	button {
		cursor: pointer;
	}
	
	div {
		display: block;
	}
	
	/* Header Styles */
	.headerLogin {
		display: flex;
		align-items: flex-end;
		margin: 1em 0;
		font-weight: bold;
		font-size: 16px;
		margin-left: 70px;
		background-color: #fff;
		margin-top: 0px;
		height: 100px;
	}
	
	.danawaImg {
		width: 128px;
		height: 28px;
		cursor: pointer;
		margin: 10px 3px;
	}
	
	/* Common Styles */
	.container {
		width: 100%;
		margin: 0 auto;
		padding: 20px;
	}
	
	.dnawaUserJoinBackGroundClass {
		width: 620px;
		height: 913px;
		background-color: #c0c0c0;
		color: #666666;
		font-family: "Malgun Gothic", "Apple SD Gothic Neo";
		margin: auto;
	}
	
	.containerLoginContentlogin {
		min-height: auto;
		background-color: #fff;
		margin: auto;
		height: auto;
	}
	
	.userJoinForm {
		width: 600px;
		height: inherit;
		display: block;
		margin: auto;
	}
	
	.wrapUserJoin {
		width: 440px;
		margin: 0 auto;
		box-sizing: border-box;
	}
	
	.indiUser {
		width: 220px;
		height: 26px;
		border-bottom: 2px solid #2070eb;
		text-align: center;
		cursor: pointer;
	}
	
	h3 {
		margin: 1em 0;
		font-weight: bold;
		font-size: 19px;
		color: #2070eb;
	}
	
	.instanceUse {
		height: 172px;
		margin-bottom: 40px;
		padding-top: 28px;
	}
	
	.instanceUse>.instanceUseTittle {
		font-size: 18px;
		line-height: 26px;
		letter-spacing: -0.4px;
		color: #0f0f0f;
		font-weight: bold;
	}
	
	.boxSnsJoin {
		display: flex;
		margin-top: 20px;
	}
	
	.boxSnsJoin>.boxSnsLink {
		align-items: center;
		margin-top: 20px;
		float: left;
		margin: 0 auto 12px;
		width: 68px;
		height: 68px;
		font-size: 14px;
		box-sizing: border-box;
		position: relative;
		margin-left: 50px;
		cursor: pointer;
		height: 200px;
		align-items: center;
	}
	
	.boxSnsLink>a {
		text-decoration: none;
	}
	
	.boxSnsLink>a:hover {
		text-decoration: underline;
		color: blue;
	}
	
	.titleSns {
		margin-left: 26px;
		color: black;
	}
	
	.joinTitle {
		margin-bottom: 20px;
	}
	
	.textTitle {
		font-size: 18px;
		line-height: 26px;
		letter-spacing: -0.4px;
		color: #0f0f0f;
		font-weight: bold;
	}
	
	.termsWrap input[type=checkbox] {
		vertical-align: middle;
		margin-right: 5px;
	}
	
	#allTerms {
		font-size: 16px;
	}
	
	.termsCheckbox {
		font-size: 12px;
		display: flex;
  		justify-content: space-between;
  		align-items: center;
	}
	
	.termsWrap label {
		display: inline-block;
		vertical-align: middle;
	}
	
	.termsWrap label strong {
		color: red;
	}
	
	.termsButtonLabel {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-right: 5px; /* 원하는 간격 값으로 조정 */
	}
	
/* 	.termsButtonLabel button  */
	
	.termsHide {
		align-self: flex-end;
		vertical-align: middle;
		margin-left: auto;
	}
	
	.inputLabel, .inputWithButton label {
		margin-top: 3px;
		margin-bottom: 5px;
		font-size: 16px;
		line-height: 24px;
		color: #0f0f0f;
	}
	
	.inputUser {
		position: relative;
		height: 48px;
		display: inline-block;
		border: 1px solid #c4c4c4;
		border-radius: 4px;
		box-sizing: border-box;
	}
	
	.inputUser input {
		font-size: 15px;
		height: 48px;
		line-height: 48px;
		color: #333;
		box-sizing: border-box;
		width: 100%;
		padding: 0 10px;
		border: none;
		outline: none;
	}
	
	.inputWithButton .inputUser {
		flex: 1;
		padding-right: 30px;
		box-sizing: border-box;
	}
	
	.inputWithButton .btnDel {
		position: absolute;
		right: 5px;
		top: 50%;
		transform: translateY(-50%);
		border: none;
		background-color: transparent;
		background: url('../img/deldel.png') no-repeat;
		background-size: 20px 20px;
		width: 25px;
		height: 25px;
		cursor: pointer;
		display: none;
	}
	
	.joinWrap {
		position: relative;
		padding-top: 30px;
		margin-top: 20px;
	}
	
	.phoneNumVerify {
		border: 1px solid #c4c4c4;
		font-size: 12px;
		display: flex;
	}
	
	.inputWithLabel, .inputWithButton {
		position: relative;
		display: flex;
		align-items: center;
	}
	
	.errTxtRed {
		font-size: 13px;
	}
	
	.joinPhoneNumVerifiedNum .inputUser, .joinVerifiedName .inputUser {
		/* 다른 스타일 설정 */
		width: 100%; /* 두 요소의 너비를 100%로 설정 */
	}
	
	.termsMarketing, .termsMarketingCheckBox {
		float: left;
		padding-top: 15px;
		padding-bottom: 15px;
		margin-top: 20px;
		margin-bottom: 0;
	}
	
	.lifeUserTextTitle {
		font-size: 16px;
		line-height: 24px;
		color: #0f0f0f;
	}
	
	.textInfo {
		margin-top: 8px;
		font-size: 14px;
		color: #555;
		line-height: 20px;
	}
	
	.boxRadio {
		display: flex;
		justify-content: flex-start; /* 왼쪽으로 정렬 */
		gap: 10px; /* 요소들 사이의 간격 조정 */
	}
	
	.formRadio {
		font-size: 12px;
		display: flex;
		align-items: center;
	}
	
	.formRadio label {
		margin-left: 10px; /* 두 번째 라디오 버튼을 첫 번째 버튼에서 조금 떨어진 위치로 설정 */
	}
	
	.allMarketingTerms {
		padding-bottom: 10px;
		margin-top: 20px;
		margin-bottom: 0px;
	}
	
	.warpTermsMarketingCheckBox {
		border-top: 1px solid #f2f2f2;
		display: flex;
		height: 50px;
		justify-content: flex-start; /* 왼쪽으로 정렬 */
		gap: 10px; /* 요소들 사이의 간격 조정 */
	}
	
	.termsCheckbox input[type=checkbox]+label {
		font-size: 13px;
		line-height: 20px;
		color: #555;
		display: inline-block;
		cursor: pointer;
		padding-left: 5px;
	}
	
	.termsCheckbox input[type=checkbox]+label>span {
		color: blue;
		font-weight: normal;
	}
	
	.buttonJoin {
		display: block;
		width: 100%;
		height: 52px;
		line-height: 52px;
		font-size: 17px;
		font-weight: bold;
		background-color: #E9E9E9;
		color: #b2b2b2;
		text-align: center;
		cursor: pointer;
		margin: 12px 0;
		margin-top: 24px;
		padding-bottom: 12px;
		border-radius: 4px;
	}
	
	/* Invalid CSS */
	.errorOutline {
		border: 1px solid red;
	}
	
	.focusOutline {
		outline: 2px solid #0080ff;
	}
	
	.activeButton {
		background-color: blue;
		color: white;
		border: none;
		cursor: pointer;
	}